:root {
  --color-bg-1: #1f1f1f;
  --color-bg-2: #252525;
  --color-bg-3: #111111;
  --color-text: #e0e0e0;
  --color-btn: #363636;
  --color-btn-hover: #3e4347;
  --color-btn-active: #4b5156;
  --color-btn-redirect: #17305a;
  --color-btn-redirect-hover: #173565;
  --color-btn-redirect-active: #1e4380;
  --color-btn-change: #571a1a;
  --color-btn-change-hover: #6b1a1a;
  --color-btn-change-active: #7f1a1a;
}

body {
  width: 400px;
  min-height: 150px;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#btn-settings {
  width: auto;
  margin-left: 10px;
  align-items: right;
}

.truncate-instance {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#btn-redirect-instance {
  padding: 0.7rem .75rem;
  margin: 0.2rem 0rem .2rem 0rem;
  background-color: var(--color-btn-redirect);
}

#btn-redirect-instance:hover {
  background-color: var(--color-btn-redirect-hover);
}

#btn-redirect-instance:active {
  animation: buttonClick 0.1s;
}

#btn-change-instance {
  background-color: var(--color-btn-change);
}

#btn-change-instance:hover {
  background-color: var(--color-btn-change-hover);
}

#btn-change-instance:active {
  animation: buttonClick 0.1s;
}

#btn-change-type {
  margin: 0.25rem 0rem 0rem 0rem;
  background-color: var(--color-btn)
}

#btn-change-type:hover {
  background-color: var(--color-btn-hover);
}

#btn-change-type:active {
  animation: buttonClick 0.1s;
}

#btn-open-settings {
  margin: 0.25rem 0rem 0rem 0rem;
  background-color: var(--color-btn)
}

#btn-open-settings:hover {
  background-color: var(--color-btn-hover);
}

#btn-open-settings:active {
  animation: buttonClick 0.1s;
}

ul#instance-list {
  list-style-type: none;
  padding-left: 0;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.btn-instance-list {
  background-color: var(--color-btn);
  color: var(--color-text);
  padding: .375rem .75rem;
  padding-left: 36px;
  margin-bottom: 10px;
  width: 100%;
  border: 2px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 400;
  text-align: left;
  transition: background-color 0.2s;
  background-image: url("../img/icon-copy.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 24px 16px;
}

.btn-instance-list:hover {
  background-color: var(--color-btn-hover);
}

.btn-instance-list:active {
  animation: buttonClick 0.1s;
}