:root {
    --color-bg-1: #1f1f1f;
    --color-bg-2: #252525;
    --color-bg-3: #111111;
    --color-text: #e0e0e0;
    --color-btn: #363636;
    --color-btn-hover: #3e4347;
    --color-btn-active: #4b5156;
    --color-btn-redirect: #5f35ae;
    --color-btn-redirect-hover: #6a3ebc;
    --color-btn-redirect-active: #7546ca;
    --color-btn-tools: #054da7;
    --color-btn-tools-hover: #0e5abf;
    --color-btn-tools-active: #1668d7;
    --color-btn-change: #571a1a;
    --color-btn-change-hover: #6b1a1a;
    --color-btn-change-active: #7f1a1a;
}

body {
    padding: 0;
    margin: 0;
    color: var(--color-text)
}

h2 {
    margin: 30px 0px 10px 0px;
}

/* ----------------------------------------- */
/*                  HEADER                   */
/* ----------------------------------------- */

header {
    margin: 0;
    background-color: var(--color-bg-3);
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin: 10px 0;
}

.btn-settings-nav {
    display: inline-block;
    margin-right: 10px;
    padding: 8px 12px;
    background-color: var(--color-btn);
    text-decoration: none;
    border-radius: 5px;
}

.btn-settings-nav:hover {
    background-color: var(--color-btn-hover);
}

.btn-settings-nav:active {
    animation: buttonClick 0.05s;
}

.logo {
    height: 40px;
    margin: 10px;
}

/* ----------------------------------------- */
/*                  CONTENT                  */
/* ----------------------------------------- */

.settings {
    padding: 0 40px;
}

.checkbox {
    margin-bottom: 5px;
    display: flex;
}

label {
    display: block;
    margin-bottom: 5px;
}

.text-field {
    margin-bottom: 20px;
}

.text-field p {
    margin-bottom: 5px;
}

.text-field-input {

    width: 100%;
}

.text-field label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="checkbox"],
input[type="text"] {
    margin-left: 5px;
}

input[type="text"] {
    width: 30%;
}

.radio-field {
    margin-bottom: 10px;
}

.radio-field label {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    color: var(--color-text)
}

.radio-field input[type="radio"] {
    margin-right: 5px;
}

.checkbox label {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    color: var(--color-text)
}

.validation-error {
    border-color: red;
}

.validation-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.welcome {
    margin-bottom: 20px;
    font-size: 16px;
    color: var(--color-text);
    text-align: center;
    background-color: var(--color-btn-active);
}

/* ----------------------------------------- */
/*                  FOOTER                   */
/* ----------------------------------------- */

.footer {
    padding: 20px 40px;
    display: flex;
    align-items: center;
}

#save-btn {
    padding: 8px 12px;
    color: #111111;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#save-btn:hover {
    background-color: #fffbca;
}

#save-btn.selected {
    background-color: #ffdede;
}

#save-btn:active {
    animation: buttonClick 0.05s;
}

#reset-btn {
    padding: 8px 12px;
    margin-left: 30px;
    color: var(--color-text);
    background-color: var(--color-btn-change);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#reset-btn:hover {
    background-color: var(--color-btn-change-hover);
}

#reset-btn.selected {
    background-color: var(--color-btn-change-active);
}

#reset-btn:active {
    animation: buttonClick 0.05s;
}
