:root {
  --color-bg-1: #1f1f1f;
  --color-bg-2: #252525;
  --color-bg-3: #111111;
  --color-text: #e0e0e0;
  --color-btn: #363636;
  --color-btn-hover: #3e4347;
  --color-btn-active: #4b5156;
  --color-btn-redirect: #5f35ae;
  --color-btn-redirect-hover: #6a3ebc;
  --color-btn-redirect-active: #7546ca;
  --color-btn-tools: #054da7;
  --color-btn-tools-hover: #0e5abf;
  --color-btn-tools-active: #1668d7;
  --color-btn-change: #571a1a;
  --color-btn-change-hover: #6b1a1a;
  --color-btn-change-active: #7f1a1a;
}

body {
  background: var(--color-bg-1);
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}

/* --------------------- */
/*   TEXT & TYPOGRAPHY   */
/* --------------------- */

p,
a {
  color: var(--color-text);
  font-size: 14px;
}

/* --------------------- */
/*        BUTTONS        */
/* --------------------- */

.button {
  color: var(--color-text);
  padding: .375rem .75rem;
  margin: 0rem 0rem 0rem 0rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  background-color: var(--color-btn);
}

/* --------------------- */
/*         OTHER         */
/* --------------------- */

.message {
  background: var(--color-btn-active);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* --------------------- */
/*         ICONS         */
/* --------------------- */

.info-icon {
  display: inline-block;
  margin-left: 5px;
  font-size: 14px;
  cursor: help;
}

.icon-external {
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

.icon-home {
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

/* --------------------- */
/*         ANIMS         */
/* --------------------- */

@keyframes buttonClick {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}