body {
    background: #1f1f1f;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}

/* --------------------- */
/*   TEXT & TYPOGRAPHY   */
/* --------------------- */

p, a {
    color: #e0e0e0;
    font-size: 14px;
}

/* --------------------- */
/*        BUTTONS        */
/* --------------------- */

.button {
    color: #e0e0e0;
    padding: .375rem .75rem;
    margin: 0rem 0rem 0rem 0rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    background-color: #313638;
}

/* --------------------- */
/*         OTHER         */
/* --------------------- */

.popup-section {
    background: #252525;
    padding: 10px 10px 0px 10px;
    border-radius: 5px;
}

.message {
    background: #252525;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* --------------------- */
/*         ICONS         */
/* --------------------- */

.info-icon {
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
    cursor: help;
}
